<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkers Game</title>
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>
<body>
  <header>
    <h1>Welcome to Checkers</h1>
  </header>
  <main>
    <div>
      <form action="/game/create-game" method="GET">
        <button type="submit">Start New Game</button>
      </form>
    </div>
    <div>
      <form action="/game/join-game" method="GET">
        <input type="text" name="gameID" placeholder="Enter Game ID" required>
        <button type="submit">Join Existing Game</button>
      </form>
    </div>
  </main>
</body>
</html>
