<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkers Game</title>
</head>
<body>
  <header>
    <h1>Welcome to Checkers</h1>
  </header>
  <main>
    <div>
      <h2><%= username %></h2>
      <form action="/game/create-game" method="GET">
        <button type="submit">Start New Game</button>
      </form>
    </div>
    <div>
      <form id="joinGameForm" onsubmit="handleSubmit(event)">
        <input type="text" name="gameID" placeholder="Enter Game ID" required>
        <button type="submit">Join Existing Game</button>
      </form>
    </div>
  </main>
</body>
 
<script>
  function handleSubmit(event) {
    event.preventDefault();
    const gameID = event.target.gameID.value;
    window.location.href = `/game/join-game/${gameID}`;
  }
</script>

</html>
